*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/.git/
/.idea/
/.vscode/
/mobile/
/test/
/updates/
/vendor/
/db/
/system/
/test/
/backups/
/assets/
/uploads/
database.php
web.config
.DS_Store
.ftpquota
/application/.DS_Store
22602efc345a0a3212a1f9b448fc235a1d1997af.html
.gitignore
/application/json/visit.json
